extends layout
block content
  hr
  .container.bootstrap.snippet
    .row
      .well
        h1.text-center.text-primary
          span.glyphicon.glyphicon-thumbs-up
          b= " Vote for your favorite " + model.name
        .list-group
          a.list-group-item
            .col-md-4
              .media.col-md-12
                h1.text-center= model.option1.name
              .media.col-md-12
                button.btn.btn-default.btn-lg.btn-block(type="button", 
                onclick="sendVote(#{JSON.stringify(model.option1)})") Vote                         
            .col-md-4.text-center
                span(id=model.option1.id).vs-title= model.option1.votes
                span.vs-title &nbsp;Vs&nbsp;
                span(id=model.option2.id).vs-title= model.option2.votes
            .col-md-4
                .media.col-md-12
                  h1.text-center= model.option2.name
                .media.col-md-12
                  button.btn.btn-default.btn-lg.btn-block(type="button", 
                  onclick="sendVote(#{JSON.stringify(model.option2)})") Vote                         
      
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    function sendVote(option) {
      socket.emit('vote', option);
    }
    socket.on('voted', function(option){
      var num = parseInt($("#" + option.id).text()) + 1;   
      $("#" + option.id).text(num);    
    });
