extends layout
block content
  hr
  .container.bootstrap.snippet
    .row
      .well
        h1.text-center.text-primary
          span.glyphicon.glyphicon-thumbs-up
          b= " Vote for your favorite " + model.Name
        .list-group
          a.list-group-item
            .col-md-4
              .media.col-md-12
                h1.text-center= model.VoteOptions[0].Name
              .media.col-md-12
                button.btn.btn-default.btn-lg.btn-block(type="button", 
                onclick="sendVote(0,'#{model.VoteOptions[0].Id}')") Vote                         
            .col-md-4.text-center
                span#option0result.vs-title= model.VoteOptions[0].PerCent
                span.vs-title %&nbsp;Vs&nbsp;
                span#option1result.vs-title= model.VoteOptions[1].PerCent
                span.vs-title %
            .col-md-4
                .media.col-md-12
                  h1.text-center= model.VoteOptions[1].Name
                .media.col-md-12
                  button.btn.btn-default.btn-lg.btn-block(type="button", 
                  onclick="sendVote(1,'#{model.VoteOptions[1].Id}')") Vote                         
      
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    function sendVote(option, id) {
      socket.emit('vote', {option:option, id:id});
    }
    socket.on('results', function(msg){
      $('#option0result').text(msg.option0);
      $('#option1result').text(msg.option1);
    });
