@model Poll

@{
    ViewBag.Title = "Poll - " + Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <p>
        <em>Id:</em>
        @Model.Id
    </p>
    <p>
        <em>Description:</em>
        @Model.Description
    </p>
    <ul>
        @foreach (var option in Model.VoteOptions)
        {
            <li>
                <h5>@option.Name</h5>
                <h5>Votes: @option.Votes</h5>
            </li>
        }
    </ul>
    <form asp-controller="Poll" asp-action="Activate" method="post" class="form-horizontal" role="form">
      <div class="form-group">
          <input type="hidden" asp-for="Id" />
          <div class="col-md-offset-2 col-md-10">
              <input type="submit" class="btn btn-default" value="Activate" />
          </div>
      </div>
    </form>
</div>
