@model Poll

@{
    ViewBag.Title = "Poll - " + Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <p>
        <em>Id:</em>
        @Model.Id
    </p>
    <p>
        <em>Description:</em>
        @Model.Description
    </p>
    <ul>
        @foreach (var option in Model.VoteOptions)
        {
            <li>
                <h5>@option.Name</h5>
                <h5>Votes: @option.Votes</h5>
            </li>
        }
    </ul>
</div>
